.button {
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    background-color: #7585af;
    padding: 0.8rem;
    margin: 1rem;
    width: 60%;
    text-align: center;
}
.button:hover {
    background-color: #7081ac;
}
.button.disabled {
    cursor: default;
    background-color: #bdbdbd;
}
