.wrapper {
    position: relative;
    background-color: transparent;
}
.wrapper, .key {
    display: inline-block;
    width: 65px;
    height: 350px;
}
.key {
    background-color: white;
    border-left: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
    border-radius: 0 0 5px 5px;
}
.key:hover {
    background-color: #E5E5E5
}
.key:active {
    background-color: #BFBFBF;
}