.wrapper {
    position: relative;
    background-color: transparent;
}
.wrapper, .key {
    display: inline-flex;
    width: 65px;
    height: 400px;
}
.key {
    background-color: #ffffff;
    border-left: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    border-radius: 0 0 7px 7px;
    align-items: flex-end;

    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.key:hover {
    background-color: #e5e5e5
}
.key:active {
    background-color: #d5d5d5;
}
.noteInfo {
    width: 100%;
    text-align: center;
}
.noteInfo span {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.noteName {
    color: #3f3f3f;
    font-size: 1.2em;
}
.mappedKey {
    color: #bdbdbd;
}
