.select {
    border-radius: 20px;
    font-weight: bold;
    background-color: #7585af;
    padding: 0.8rem;
    color: white;
    outline: none;
    border: none;
    width: 60%;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
    font-size: 1em;
    margin-bottom: 1.5rem;
}
.select:hover {
    background-color: #7081ac;
}
.select::-webkit-calendar-picker-indicator {
    opacity: 100;
    margin-left: 10px;
}
