.key {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 0;
    right: -21px;
    background-color: #3f3f3f;
    width: 40px;
    height: 260px;
    border-radius: 0 0 7px 7px;
    z-index: 100;

    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.key:hover {
    background-color: #2c2c2c;
}
.key:active {
    background-color: black;
}
.noteInfo {
    width: 100%;
    text-align: center;
}
.noteName {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.mappedKey {
    display: block;
    font-weight: bold;
    color: #bdbdbd;
    margin-bottom: 10px;
}
