html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ccdaff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Global piano keys configuration.
*/
.whiteKey.active {
  background-color: #d5d5d5;
}
.blackKey.active {
  background-color: black;
}
