.piano {
    display: flex;
    max-width: 80%;
    overflow: hidden;
    cursor: grab;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
